@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 80%; /* Ajuste para não ficar muito pequeno */
    max-width: 800px;
}

/* Garante que o gráfico tem espaço */
.canvas-container {
    position: relative;
    width: 100%;
}

.controls{
    margin-top: 30px;
    text-align: center;
}

.select,
.input{
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn{
    padding: 8px 15px;
    border: none;
    background-color: #303f9f;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 5px; /* Espaço extra se quebrar linha */
}

.btn:hover{
    background-color: #0056b3;
}

#canvas-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Estilo específico para o botão de limpar */
.btn-clear {
    background-color: #dc3545; /* Vermelho */
    margin-left: 5px;
}

.btn-clear:hover {
    background-color: #c82333; /* Vermelho mais escuro ao passar o rato */
}


/* Estilo para o botão de Download */
.btn-download {
    background-color: #28a745; /* Verde */
    margin-left: 5px;
}

.btn-download:hover {
    background-color: #218838; /* Verde escuro */
}

/* Estilo do Rodapé */
footer {
    position: absolute; /* Fixa a posição em relação ao corpo da página */
    bottom: 20px;       /* 20px de distância do fundo */
    text-align: center;
    font-size: 0.9rem;
    color: #666;
    width: 100%;        /* Garante que fica centrado horizontalmente */
}

footer a {
    text-decoration: none; /* Remove o sublinhado padrão */
    color: #303f9f;        /* Usa a mesma cor azul dos botões */
    font-weight: 600;      /* Deixa o texto um pouco mais grosso */
    transition: color 0.3s ease;
}

footer a:hover {
    color: #0056b3;        /* Cor ao passar o rato */
    text-decoration: underline; /* Adiciona sublinhado ao passar o rato */
}